body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.icon-button {
    background-color: black; /* Cor padrão do botão */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.icon-button.active {
    background-color: red; /* Cor ativa (vermelha) */
}

.product-image {
  max-width: 170px; /* Tamanho maximo generico risk** */
  max-height: 170px; 
  width: auto; 
  height: auto; 
}